a { 
	color:#fff; 
}

.navbar {
	background-color: #DE7B87;
	color:#fff;
	font-family:Microsoft YaHei, 微软雅黑;
}

.toolbar {
	background-color: #fff;
	color:#DE7B87;
	border-top:1px solid #CDCDCD;
}

i.icon.icon-home{
	background-image: url(icon-home.svg);
	width: 25px;
	height: 25px;
}

i.icon.icon-back{
	background-image: url(icon-back.svg);
}

i.icon.icon-bars{
	background-image: url(icon-bars.svg);
	width: 25px;
	height: 20px;
}

i.icon.icon-next{
	background-image: url(icon-next.svg);
	width: 20px;
	height: 15px;
}

i.icon.icon-prev{
	background-image: url(icon-prev.svg);
	width: 20px;
	height: 15px;
}

.panel{
	background-color: #FFF;
}

li.panel-odd, li.panel-even {
	padding: 5px 0px 0px 0px;
	list-style-type: none;
}

li.panel-odd ul, li.panel-even ul {
	padding: 0px 0px 0px 0px;
	font-size: 9pt;
	list-style: none;
}

li.panel-odd a, li.panel-even a { color:#000; }

li.panel-odd{
	background-color: #FCF2F3;
}

li.panel-even{
	background-color: #F8E5E7;
}

li.panel-odd span, li.panel-even span {
	background-image: url(panel-line-icon.svg);
	background-repeat: no-repeat;
	background-position: 10px 5px;
	background-size: 20px auto;
	color:#DE7B88;
	padding:0px 10px 0px 35px;
	font-size: 15pt;
	font-weight: bold;
}

li.panel-odd a, li.panel-even a{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 35px;
	padding-right: 15px;
	background-image: url(panel-list-img.svg);
	background-repeat: no-repeat;
	background-position: 20px 17px;
	display: block;

}

li.panel-odd li:nth-child(n+2), li.panel-even li:nth-child(n+2){
	border-top: 1px solid #EFBDC3;
}

div.content-block-index{
	background-color: #FFF;
}

div.content-block-inner-index{
	background-color: #FFF;
}

div.content-block-inner{
	text-align: center;
}