@using Mk.Entity

<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding">目录</div>
        <div class="right"><a href="javascript:goto(0)" class="link icon-only"><i class="icon icon-home"></i></a></div>
    </div>
</div>
<div class="pages">
    <div data-page="about" class="page">
        <div class="page-content">
            <div class="content-block-index">
                <div class="content-block-inner-index">
                    <img src="/Content/Manmo/panel-title.svg" alt="" style="margin: 30px 20px 10px 20px; width:142px" />
                    <ul style=" list-style: none; margin: 0px; padding: 0px; font-family:微软雅黑;">
                        @for (int i = 0; i < Model.Groups.Count; i++)
                        {
                            <li class="panel-@(i % 2 == 1 ? "odd" : "even")">
                                <span onclick="goto(goto(@Model.Groups[i].UrlIndex))" style="width: 100%; display: block">@Model.Groups[i].Title</span>
                                <ul>
                                    @foreach(Manmo.IndexClass.Link lnk in Model.Groups[i].Links)
                                    {
                                        <li><a onclick="goto(@lnk.UrlIndex)" class="close-panel">@lnk.Title</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>